table tr:first-child td, table tr:first-child td {
    border-top: 0;
}
.form.form-border {
    border: 1px solid #d5dfe6;
}
a {
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}
.row-middle {
    align-items: center;
}
.btn {
    cursor: pointer;
}
/*button*/
.bt {
    border-radius: 30px;
    padding: 4px 13px;
    color: #fff;
}
.btn {
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 0;
}

.bt.bt-sm {

}

.bt.bt-lg {
    padding: 12px 33px;
}

.bt.bt-sm.bt-s1 {
    padding: 3px 20px;
    border-color: #4da0ff;
}

.bt.bt-s1 {
    border: 1px solid;
}

.bt.bt-blue {
    background: #1d96ee;
}
.bt.bt-blue:hover {
    background: #1a6db6;
    color: #ffffff;
}

.bt.bt-white {
    background: #dbe1eb;
    color: #5c6988;
}
.bt.bt-white:hover {
    background: #c3c9d3;
    color: #6c7b99;
}
.bt.bt-green {
    background: #46c906;
}
.bt.bt-green:hover {
    background: #3da206;
    color: #ffffff;
}

.bt.bt-green-2 {
    background: #06c3df;
}
.bt.bt-green-2:hover {
    background: #068aa5;
    color: #ffffff;
}

.btn-submit {
    background-color: #2097ee;
    color: #fff;
}
.btn-submit:hover {
    background-color: #1d68b4;
    color: #fff;
}
.btn-gray {
    background-color: #bfbfbf;
    color: #fff;
}
.btn-gray:hover {
    background-color: #a6a6a6;
    color: #fff;
}
.circle-blue,
.circle-green {
    display: inline-block;
    width: 11px;
    height: 11px;
    background: transparent;
    border: 2px solid;
    border-radius: 50%;
}

.circle-blue {
    border-color: #1d96ee;
}
.circle-green {
    border-color: #46c906;
}
.highlight-blue {
    color: #1d96ee;
}

.highlight-green {
    color: #46c906;
}

.highlight-sepia {
}

.highlight-orange {
    color: #f78132;
}

.txt-green {
    color: #46c906;
}

.txt-blue {
    color: #1d96ee;
}

.txt-gray {
    color: #5c6988;
}
.txt-red {
    color: #f00909;
}
.txt-border {
    display: inline-block;
    border: 1px solid #dbe1eb;
    padding: 4px 10px;
    border-radius: 3px;
}

/*form*/
.frm {
}

.frm p {
    margin-bottom: 8px;
    position: relative;
    margin: 5px auto;
}

.frm p input {
    margin: 0 auto;
    width: 100%;
}

.frm .i_alert {
    color: #fe3f40;
    font-size: 14px;
    display: inline-block;
    margin: 7px 0;
}

.no-radius {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/*end form*/

/*panel*/
.pn,
.pn-active {
    display: block;
    width: 100%;
}

.pn .panel-header,
.pn-active .panel-header-active {
    background: #fff;
    color: #2097ee;
    padding: 15px 30px;
    cursor: pointer;
    text-transform: uppercase;
}

.pn.active .panel-header,
.pn-active .panel-header-active {
    color: #fff;
    background: #2097ee;
}
.pn-active .panel-header-active {
    cursor: default;
}

.pn .panel-header .direct {
    float: right;
    border: 1px solid;
    border-radius: 17px;
    width: 20px;
    height: 20px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    padding-top: 2px;
}

.pn .panel-header .direct.open {
}

.pn .panel-header .direct.close {
}

.pn .panel-body,
.pn-active .panel-body-active {
    background: #ffffff;
    padding: 17px 30px;
    display: none;
}
.pn .panel-body.border {
    border: 1px solid #cccccc;
    border-top: 0;
}
/*tab*/
.nav-tabs.nav-justified {
    width: 100%;
    display: table;
}
.nav-tabs.nav-justified > li {
    float:none;
    display: table-cell;
    width: 1%;
}
.nav-tabs .nav-link {
    background: #dbe1eb;
    color: #5c6988 !important;
    padding: 5px 65px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 0;
}

.nav-tabs .nav-item {
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: #2097ee;
    color: #fff !important;
}

.tab-header-control {
    text-align: right;
    background: #2097ee;
    padding: 5px;
    color: #fff;
}

.tabs-profile li {
    margin-right: 2px;
}
.tabs-profile li.active {
}
.tabs-profile li:last-child {
    margin-right: 0;
}
.tabs-profile li a {
    background: #dbe1eb;
    color: #5c6988;
    display: inline-block;
    padding: 7px 25px;
    border-radius: 10px 10px 0 0;
}
.tabs-profile li.active a {
    background: #2097ee;
    color: #ffffff;
}
.tabs-profile li a img {}

ul.step-anchor {
    display: inline-block;
    border: 0;
    padding: 0;
    background: transparent;
    border-radius: 5px;
    list-style: none;
    overflow: hidden;
    margin-top: 20px;
    text-align: center;
}
ul.step-anchor>li {
    float: left;
}
ul.step-anchor>li>a {
    color: #66738f;
    text-decoration: none;
    padding: 10px 0 10px 45px;
    position: relative;
    display: block;
    float: left;
    border-radius: 0;
    outline-style: none;
    background: #d5dfe6;
}
ul.step-anchor>li>a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}
ul.step-anchor>li>a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #d5dfe6;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}
ul.step-anchor>li:first-child>a {
    padding-left: 20px;
}
ul.step-anchor>li:last-child>a {
    padding-right: 20px;
    border-radius: 0 5px 5px 0;
}
ul.step-anchor>li:last-child>a:before,
ul.step-anchor>li:last-child>a:after {
    content: none;
}
ul.step-anchor>li.done>a {
    border-color: #46c906!important;
    color: #fff!important;
    background: #46c906!important;
}
ul.step-anchor>li.done>a:after {
    border-left: 30px solid #46c906;
}
ul.step-anchor>li.active>a {
    border-color: #1d96ee!important;
    color: #fff!important;
    background: #1d96ee!important;
}
ul.step-anchor>li.active>a:after {
    border-left: 30px solid #1d96ee!important;
}
.tabs-trade {
    text-align: center;
}
.tabs-trade li a {
    background: #ffffff;
    color: #5c6988;
    display: block;
    padding: 12px 25px;
    border-radius: 0;
    text-transform: uppercase;
    border-bottom: 1px solid #2097ee;
}
.tabs-trade li.active a{
    background: #2097ee;
    color: #ffffff;
}

.tabs-trade.tabs-arrow li.active a {
    position: relative;
}
.tabs-trade.tabs-arrow li.active a:after {
    content: '';
    display: block;
    position: absolute;
    right: 48%;
    top: 100%;
    width: 0;
    height: 0;
    border-top: 7px solid #2097ee;
    border-bottom: 7px solid transparent;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
/*end tab*/

/*util*/
.border-bottom {
    height: 100%;
    display: inline-block;
    padding-bottom: 16px;
    margin-bottom: -21px;
    cursor: pointer;
}

.border-bottom:hover {
    border-bottom: 1px solid #1d96ee;
}

.bg-fb {
    background-color: #4266b2;
    width:200px;
}
.bg-twitter {
    background-color: #1ea1f2;
    width:200px;
}
.bg-white {
    background-color: #fff;
}

.bg-blue {
    background: #1d96ee;
    color: #ffffff;
}
.bg-green {
    background: #46c906;
    color: #ffffff;
}
.bg-gray {
    background: #f4f6f9;
}
.bg-gray-dark {
    background: #d5dfe6;
}

.bg-primary {
    color: #fff!important;
    background: #2097ee !important;
}
.no-pd {
    padding: 0 !important;
}

.no-mg {
    margin: 0 !important;
}

.no-border {
    border: 0 !important;
}

/*end util*/

/*switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
    margin: 3px 0px -10px 6px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0px -1px 6px #a9a1a1;
}

.slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 2px;
    bottom: 0px;
    background-color: #f3f1f1;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 1px 1px 18px #ffffff inset;
}

input:checked + .slider {
    background-color: #2197ee;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(33px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*end switch*/

.form-control {
    border-radius: 0;
}
.badge-btc {
    background: #5c6988;
    color: #e7edf9;
    font-weight: 400;
    padding: 7px 15px;
    border-radius: 7px
}

.panel-info-trade {
    text-transform: none;
    background: #d5dfe6;
    color: #5c6988;
    padding: 15px 30px;
}

.countdown {
    text-align: center;
    color: #a30a0a;
    font-weight: 600;
}
.countdown .text {
    margin-bottom: 0;
}
.countdown .time {
    font-size: 30px;
}
.button-confirm {
    display: inline-block;
}
.button-confirm a{
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    color: #ffffff;
}
.button-confirm a.success {
    background: #1d96ee;
}
.button-confirm a.success:hover {
    background: #4d9eee;
}
.button-confirm a.cancel {
    background: #a30a0a;
}
.button-confirm a.cancel:hover {
    background: #a33a37;
}
.vote-title {
    color: #666699;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
}
.list-vote {
    display: inline-block;
}
.list-vote .vote {
    width: 60px;
    height: 60px;
    display: inline-block;
    background: transparent;
    cursor: pointer;
    background-size: 100%;
    margin: 0 10px;
    background-image: url('../img/ico_votestar_nommal.png');
}

.list-vote .vote.active {
    background-image: url(../img/ico_votestar_hover.png);
}

.modal.vertically-modal .modal-dialog {
    transform: translateY(-25%);
    top: 50%;
    margin: 0 auto;
}

.modal.vertically-modal.show .modal-dialog {
    transform: translateY(-50%);
}
.modal-content {
    max-height: 100vh;
    overflow-y: auto;
    padding: 0;
    border-radius: 0;
    border-color: rgba(243, 243, 243, 0);
    box-shadow: 1px 2px 10px rgba(189, 186, 186, 0.44);
}
.modal-header {
    background: #1d96ee;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    border-radius: 0;
}
.modal-header .modal-title {display: block;text-align: center;font-size: 1rem;}
.close {
    color: #585252;
}
.close:focus, .close:hover {
    color: #332e2e;
    text-decoration: none;
    opacity: .75;
}

.loading{
    margin: 0 auto;
    display: inline-block;
}
.user-tabs {
    position: relative;
}
.user-tabs .actions {
    position: absolute;
    padding: 0;
    width: 200px;
    background: #ffffff;
    border-radius: 2px;
    top: 25px;
    right: -15px;
    visibility: hidden;
    opacity: 0;
    z-index: 999999;
}
.user-tabs:hover .actions {
    visibility: visible;
    opacity: 1;
}
.user-tabs .actions:after {
    content: '';
    display: block;
    position: absolute;
    right: 20px;
    bottom: 100%;
    width: 0;
    height: 0;
    border-bottom: 7px solid #ffffff;
    border-top: 7px solid transparent;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
.user-tabs .actions li {
    list-style: none;
}
.user-tabs .actions li a {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #cccccc;
    color: #5c6988;
    text-transform: uppercase;
    font-size: 12px;
}
.user-tabs .actions li a:hover {
    color: #1d96ee;
}
.user-tabs .actions li:last-child a {
    border-bottom: 0;
}
.user-tabs .actions li a img{
    display: inline-block;
    margin-top: -5px;
    margin-right: 5px;
}
.quick-actions {
    border-top: 2px solid #1d96ee;
    border-bottom: 1px solid rgba(29, 150, 238, 0.63);
    background: #ffffff;
    border-radius: 2px;
    position: fixed;
    bottom: 35%;
    right: 20px;
    box-shadow: 1px 2px 7px 0px rgba(25, 23, 23, 0.18);
}
.quick-actions ul {
    padding: 5px 0;
    margin: 0;
}
.quick-actions ul li {
    list-style: none;
}
.quick-actions ul li a {
    display: inline-block;
    padding: 5px 10px;
    color: #4e5c6e;
    border-radius: 15px;
}
.quick-actions ul li a:hover {
    background: #1d96ee;
    color: #ffffff;
}
.quick-actions ul li img {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-left: 10px;
}
@media screen and (max-width: 768px) {
    .quick-actions {
        display: none;
    }
}
.simplert {
    z-index: 9999999 !important;
}
.loading {
    display: inline-block;
    margin: 0 auto;
}
.disabled {
    pointer-events: none !important;
    cursor: default !important;
    opacity: 0.6 !important;
}
.main .offers .bt.small {
    display: inline-block;
    margin-top: -5px;
    margin-left: 5px;
    padding: 1px 7px;
}


.progressbar{

    width:100%;
    height:18px;
    margin:0 auto 20px auto;
    padding:0px;

    background:#cfcfcf;
    border-width:1px;
    border-style:solid;
    border-color: #aaa #bbb #fff #bbb;
    box-shadow:inset 0px 2px 3px #bbb;
}

.progressbar,
.progressbar-inner{
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
}

.progressbar-inner{
    width:0%; /* Change to actual percentage */
    height:100%;
    background:#b5b5b5;
    background-size:18px 18px;
    background-color:#05c1ff;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
    transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
    transparent 75%, transparent);
    background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
    transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
    transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
    transparent 75%, transparent);

    box-shadow:inset 0px 2px 8px rgba(255, 255, 255, .5), inset -1px -1px 0px rgba(0, 0, 0, .2);

    -webkit-transition:width .5s ease-in;
    -moz-transition:width .5s ease-in;
    -o-transition:width .5s ease-in;
    transition:width .5s ease-in;
}

.file-btn {}
.file-btn .file-group {
    height: 31px;
    line-height: 31px;
    margin-bottom: 10px;
}
.file-btn .file-group .file-name {
    border: 1px solid #cccccc;
    float: left;
    border-radius: 4px 0 0 4px;
    padding: 0 10px;
    color: #cccccc;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 170px;
    height: 100%;
}
.file-btn .file-group input {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}
.file-btn .file-group label {
    float: left;
    display: block;
    width: 120px;
    background: #cccccc;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    height: 100%;
}
.menu-wallet-left {
    border: 1px solid #cccccc;
    border-radius: 4px;
}
.menu-wallet-left li {
    border-bottom: 1px solid #cccccc;
}
.menu-wallet-left li:first-child {
    border-radius: 4px 4px 0 0;
}
.menu-wallet-left li:last-child {
    border-bottom: 0;
    border-radius: 0 0 4px 4px;
}
.menu-wallet-left li a {
    color: #4e5c6e;
}
.menu-wallet-left li.active a {
    color: #41a7f1;
}
.menu-wallet-left li a img {
    margin-right: 10px;
}
.menu-wallet-left {}