body {
    font-family: 'Avenir Next';
    font-size: 14px;
}

.container-fluid {
    padding: 0px;
    margin: 0px;
}

.container {
    /*max-width: 900px;*/
}

.bg-section-2 {
    background: url("../img/background-section-2.png") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 8px;
}

.wrap_ic_coin {
    width: 100%;
    margin-top: 140px;
}

.wrap_ic_coin img {
}

.wrap_ic_coin img:first-child {
    margin-right: 35px;
}

.name_site {
    width: 100%;
    text-transform: uppercase;
    font-size: 72pt;
    color: #01243d;
    margin-top: 30px;
    margin-bottom: 0;
}

/*.slogan {*/
/*width:100%;*/
/*color: #01243d;*/
/*font-size: 18pt;*/
/*margin-top: -10px;*/
/*margin-bottom: 0;*/
/*text-align: center;*/
/*overflow-wrap: break-word;*/
/*}*/

@media screen and (max-width: 768px) {
    .name_site {
        font-size: 30pt;
    }

    .slogan {
        font-size: 15pt;
    }
}

.btn_join {
    width: 254px;
    border-radius: 30px;
    background-color: #1d96ee;
    color: #ffffff;
    padding: 12px 0;
}

.btn_join:hover {
    background-color: #1d96ee;
    color: #ffffff;
}

.wrap_support {
    width: 75%;
    margin: 0 auto;
    margin-top: 80px;
}

.wrap_support img {
}

.wrap_support .name {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
    font-size: 16pt;
}

.wrap_support .description {
    margin-top: 10px;
    font-size: 15pt;
}

.header-style2 {
    -webkit-box-shadow: -1px 8px 11px 0px rgba(216, 216, 216, 0.75);
    -moz-box-shadow: -1px 8px 11px 0px rgba(216, 216, 216, 0.75);
    box-shadow: -1px 8px 11px 0px rgba(216, 216, 216, 0.75);
}

.pacman {
    display: inline-block;
}