/*global*/
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/*end global*/

/*header*/
.header {
    background: url("../img/bg-header.png") no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

.header a {
    color: #ffffff;
    text-decoration: none;
}

.header .nav-header {
    background-color: transparent !important;
    padding-left: 0;
    padding-right: 0;
}

.header .nav-header .txt-login {
    margin-right: 31px;
}

.header .line-top {
    width: 100%;
    height: 10px;
    background-image: url('../img/line-top.png');
    background-repeat: no-repeat;
}

.header .header-body {
    margin-top: 30px;
}

.header .header-body .caption {
    font-size: 24pt;
}

.header .header-body .slogan {
    font-size: 18pt;
}

.header .header-body .coin-wrap {
    text-align: center;
    margin-top: 30px;
}

.header .header-body .block-coin {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-size: 16pt;
}

.header .header-body .block-coin .block-item {
    display: table-cell;
    padding: 0 12px;
}

.header .header-body .block-coin img {
}

.header .header-body .block-coin p {
}

.header .header-body .block-coin p span {
    color: #20cd80;
}

.header .header-body .block-coin p:nth-child(2) {
    margin-top: 30px;
}

.header .header-body .block-coin p:nth-child(3) {
}

.header .header-footer {
    margin-top: 8px;
}

.header .header-footer .block {
    height: 90px;
    background: #1b365a;
    position: relative;
    margin-top: 10px;
}

.header .header-footer .block img {
    width: 30px;
    position: absolute;
    top: 20px;
    left: 30px;
}

.header .header-footer .block span {
}

.header .header-footer .block .slash {
    position: absolute;
    left: 97px;
    top: 15px;
    border-left: 1px solid #bbbebf;
    height: 62px;
}

.header .header-footer .block p {
    position: absolute;
    left: 140px;
    top: 24px;
    text-transform: uppercase;
}

.navbar-right {
}

.navbar-right li {
}

.navbar-right li a {
    color: #5c6988;
}

.navbar-right li.active a {
    color: #007bff;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}

/*end header*/

/*slide center*/

.slide-center {
    padding: 20px;
    -webkit-box-shadow: -1px 8px 11px 0px rgba(216, 216, 216, 0.75);
    -moz-box-shadow: -1px 8px 11px 0px rgba(216, 216, 216, 0.75);
    box-shadow: -1px 8px 11px 0px rgba(216, 216, 216, 0.75);
    font-size: 16pt;
    z-index: 9999;
}

.slide-center .hr {
    width: 70%;
    height: 1px;
    border-bottom: 1px solid;
    margin: 0 auto;
    margin-top: 33px;
    margin-bottom: 20px;
}

.slide-center .wrap-description {
    margin-bottom: 26px;
}

.slide-center .wrap-feature {
}

.slide-center .wrap-feature img {
}

.slide-center .wrap-feature span {
}

/*end slide center*/

/*main*/
.main {
    background: #f4f6f9;
    margin-top: 10px;
    padding: 40px 0px;
}

.main .offers {: - 1 px 8 px 11 x 0 pxrgba(216, 216, 216, 0.75) overflow-x: hidden;
    overflow: scroll;
}

.main .offers table {
}

.main .offers table {
    min-width: 800px;
}

.main .offers p {
    margin-bottom: 3px;
}

.main .offers .bt {
    display: inline-block;
    margin-top: 27px;
    padding: 4px 19px;
}

.main .offers table thead {
    background: #f4f6f9;
    border: 0px;
}

.main .offers table thead tr {
}

.main .offers table thead tr th {
    border: 0;
}

.main .offers .title {
    text-transform: uppercase;
    font-size: 22pt;
    margin: 0;
    color: #5c6988;
}

.main .offers .title img {
    margin-top: -8px;
    margin-left: 5px;
}

.main .offers .sub-description {
    color: #c0c5d0;
    font-weight: normal;
}

.main .offers table tbody {
    background: #fff;
    -webkit-box-shadow: -1px 8px 11px 0px rgba(216, 216, 216, 0.75);
    -moz-box-shadow: -1px 8px 11px 0px rgba(216, 216, 216, 0.75);
    box-shadow: -1px 8px 11px 0px rgba(216, 216, 216, 0.75);
    color: #5c6988;
}

.main .offers table tbody tr {
}

.main .offers table tbody tr td {
    padding: 17px;
}

.main .offers .input-deal {
    border: 0;
    border-bottom: 1px solid #f4f6f9;
    margin-left: 6px;
    width: auto;
}

.main .offers .input-deal:focus {
    outline-width: 0;
}

.main .offers .input-deal::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #c0c5d1;
}

.main .offers .input-deal::-moz-placeholder { /* Firefox 19+ */
    color: #c0c5d1;
}

.main .offers .input-deal:-ms-input-placeholder { /* IE 10+ */
    color: #c0c5d1;
}

.main .offers .input-deal:-moz-placeholder { /* Firefox 18- */
    color: #c0c5d1;
}

.main .offers table tfoot tr {
}

.main .offers table tfoot td {
}

.pagination {
    margin-top: 20px;
}

.pagination a {
    background: #f6f8fa;
    color: #5c6988;
    padding: 5px 17px;
}

/*footer*/
.footer {
    background: #1574b8;
    display: block;
    margin-top: -15px;
}

.footer .block-1 {
    padding-top: 19px;
    padding-bottom: 17px;
    border-bottom: 1px solid #bdbaba;
}

.footer .block-1 img {
    opacity: 0.6;
    filter: brightness(0) invert(1);
}

.footer .block-2 {
    color: #fff;
    margin-top: 40px;
}

.footer .block-2 .input-group {
    color: #fff;
    width: 100%;
}

.footer .block-2 i {
    margin-right: 7px;
    margin-top: -3px;
}

.footer .block-2 input {
    border: 1px solid #a9a9a9;
    background: transparent;
    color: #fff;
}

.footer .block-2 .input-group-addon {
    border: 1px solid #a9a9a9;
    background: transparent;
    border-left: 0;
    color: #fff;
}

.footer .block-3 {
    width: 100%;
    text-align: center;
}

.footer .block-3 .social {
    width: 100%;
}

.footer .block-3 .social a {
    color: #fff;
    font-size: 14pt;
    margin: 0 8px;
}

.footer .block-3 p {
    color: #fff;
    width: 100%;
}

/*end footer*/
