.title-menu {
    text-transform: uppercase;
    font-size: 17pt;
}

.title-menu img {
    margin-top: -6px;
}

.title-menu span {
    /* margin-top: 7px; */
    margin-left: 8px;
    display: inline-block;
    color: #5c6988;
}

.h1 {

}

.b500 {font-weight: 500}
.b600 {font-weight: 600}
.b700 {font-weight: 700}
.b800 {font-weight: 800}
