.table-mail {
    width: 100%;
    background: #fff;
}
.table-mail .header-control{
    text-align: right;
    background: #2097ee;
    color: #fff;
}
.table-mail .header-control td {
    padding: 5px 10px;
}
.table-mail .item-mail{cursor: pointer;}
.table-mail .item-mail.active{
    font-weight: 600;
}
.table-mail .item-mail td{
    margin-bottom: 1px;
    border-bottom: 1px solid #dbe1eb;
}
.table-mail .item-mail .ic-mail{
    width: 10px;
    border-right: 12px solid #dbe1eb;
    padding-right: 20px;
    padding-left: 20px;
}
.table-mail .item-mail .title-mail{padding-left: 15px;}
.table-mail .item-mail .time-mail{
    text-align: right;
    padding-right: 15px;
}
.table-mail .item-mail .control-mail{
    width: 10px;
    text-align: right;
    padding: 10px;
}
.table-mail .footer-control {}
.table-mail .footer-control td{
    padding: 10px 0;
    background: #f4f6f9;
}
.table-mail .footer-control select{
    width: 160px;
    text-align-last: center;
    border: 1px solid #ccc;
}
.table-mail .footer-control button{
    background: #2097ee;
    color: #fff;
    border: 0;
    border-radius: 5px;
}

.table-mail .content-mail {    display: none;
}
.table-mail .content-mail div {
    padding:10px;
    max-height: 200px;
    overflow-y: scroll;
}
.table-mail .content-mail div::-webkit-scrollbar {
    width: 12px;
}

.table-mail .content-mail div::-webkit-scrollbar-track {
    background-color: #f7f7f7;
}

.table-mail .content-mail div::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border: 1px solid #f3f0f0;
}