.progressbar-red {}
.progressbar-red .progressbar-inner{
    background-color: #f70e4c !important;
}
.progressbar-yellow {}
.progressbar-yellow .progressbar-inner{
    background-color: #ef6b43 !important;
}